openapi: 3.0.2

info:
  title: Coin Metrics API v4
  description: >-
    [Coin Metrics Homepage](https://coinmetrics.io/)<br/>
    [API Backward Compatibility Policy](https://docs.coinmetrics.io/api/versioning)<br/>
    [Python API Client](https://coinmetrics.github.io/api-client-python/site/index.html)<br/><br/>

    HTTP API root endpoint URL is `https://api.coinmetrics.io/v4`.<br/>
    WebSocket API root endpoint is `wss://api.coinmetrics.io/v4`.<br/><br/>
    The Community HTTP API root endpoint URL is `https://community-api.coinmetrics.io/v4`. API key is not required when accessing community endpoints.

  termsOfService: https://coinmetrics.io/api/terms
  contact:
    name: Coin Metrics Support
    url: https://coinmetrics.io/support/
    email: support@coinmetrics.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 4.0.0 # of this document

servers:
- url: https://api.coinmetrics.io/v4
- url: wss://api.coinmetrics.io/v4
- url: https://community-api.coinmetrics.io/v4

tags: 

  - name: Rate limits
    description: >-
      To ensure the quality of Coin Metrics services, API is subject to rate limiting.<br/>
      The community version of API has the limit of 1000 requests per 10 minutes sliding window for an IP address.<br/>
      The paid version of API has the limit of 6000 requests per 20 seconds sliding window for an API key.<br/>
      If you reach the limit API starts to return `429 Too Many Requests` HTTP response status.<br/>
      API also provides `X-RateLimit-*` response headers formatted according to https://tools.ietf.org/html/draft-polli-ratelimit-headers-03.

  - name: Catalog
    description: >-
      Catalog of available for your `api_key` data.<br/>
      Use the [Full catalog](#tag/Full-catalog) endpoints for the full list of supported by Coin Metrics data.

  - name: Full catalog
    description: >-
      The Full catalog returns the full range of data that is supported by Coin Metrics across all our products.<br/>
      If you are a client looking to understand the data that is available for your API key and data license, please use the [Catalog](#tag/Catalog) endpoint.

  - name: Timeseries
    description: Endpoints for fetching metrics, market data, indexes and other time series data.

  - name: Timeseries stream
    description: WebSocket endpoints for getting a real-time stream of metrics, market data, indexes and other time series data.

  - name: List of blockchain entities
    description: Endpoints for fetching lists of blockchain entities.

  - name: List of blockchain entities v2
    description: Endpoints for fetching lists of blockchain entities.

  - name: Full blockchain entities
    description: Endpoints for fetching full blockchain entities.

  - name: Full blockchain entities v2
    description: Endpoints for fetching full blockchain entities.

  - name: Chain Monitor tools
    description: Endpoints for working with chain monitor data.

x-tagGroups: # ReDoc-specific vendor extension
  - name: General
    tags:
      - Rate limits

  - name: Catalog
    tags:
      - Catalog
      - Full catalog

  - name: Timeseries
    tags:
      - Timeseries
      - Timeseries stream

  - name: Universal blockchain explorer
    tags:
      - List of blockchain entities
      - Full blockchain entities

  - name: Universal blockchain explorer v2 (unstable)
    tags:
      - List of blockchain entities v2
      - Full blockchain entities v2

  - name: Tools
    tags:
      - Chain Monitor tools

paths:
  /catalog/assets:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available assets
      description: Returns a list of available assets along with information for them like metrics, markets, exchanges and time ranges of available data.
      operationId: getCatalogAssets
      x-code-samples:
        $ref: "./samples/generated/catalog_assets.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogAssetId'
        - $ref: '#/components/parameters/CatalogAssetIncludeFields'
        - $ref: '#/components/parameters/CatalogAssetExcludeFields'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Assets'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog/metrics:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available metrics
      description: Returns a list of available metrics along with information for them like
        description, category and assets for which a metric is available.
      operationId: getCatalogMetrics
      x-code-samples:
        $ref: "./samples/generated/catalog_metrics.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogMetric'
        - $ref: '#/components/parameters/Reviewable'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Metrics'
        400:
          $ref: '#/components/responses/MetricNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog/exchanges:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available exchanges
      description: Returns a list of available exchanges along with available markets for them.
      operationId: getCatalogExchanges
      x-code-samples:
        $ref: "./samples/generated/catalog_exchanges.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogExchangeId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Exchanges'
        400:
          $ref: '#/components/responses/ExchangeNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
      security:
        - api_key: []

  /catalog/exchange-assets:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available exchange asset pairs
      description: Returns a list of available exchange-asset pairs along with information for them like metrics and time ranges of available data.
      operationId: getCatalogExchangeAssets
      x-code-samples:
        $ref: "./samples/generated/catalog_exchange_assets.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogExchangeAssetId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/ExchangeAssets'
        400:
          $ref: '#/components/responses/PairNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog/pairs:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available asset pairs
      description: Returns a list of available asset pairs along with information for them like metrics and time ranges of available data.
      operationId: getCatalogAssetPairs
      x-code-samples:
        $ref: "./samples/generated/catalog_pairs.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogPairId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Pairs'
        400:
          $ref: '#/components/responses/PairNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog/institutions:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available institutions
      description: Returns a list of available institutions along with information for them like metrics and time ranges of available data.
      operationId: getCatalogInstitutions
      x-code-samples:
        $ref: "./samples/generated/catalog_institutions.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogInstitutionId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Institutions'
        400:
          $ref: '#/components/responses/InstitutionNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
      security:
        - api_key: []

  /catalog/markets:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available markets
      description: Returns a list of available markets along with time ranges of available data.
      operationId: getCatalogMarkets
      x-code-samples:
        $ref: "./samples/generated/catalog_markets.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogMarketId'
        - $ref: '#/components/parameters/Exchange'
        - $ref: '#/components/parameters/MarketType'
        - $ref: '#/components/parameters/MarketBase'
        - $ref: '#/components/parameters/MarketQuoteParameter'
        - $ref: '#/components/parameters/MarketAsset'
        - $ref: '#/components/parameters/MarketSymbol'
        - $ref: '#/components/parameters/CatalogMarketIncludeFields'
        - $ref: '#/components/parameters/CatalogMarketExcludeFields'
        - $ref: '#/components/parameters/CatalogMarketFormat'
        - $ref: '#/components/parameters/CatalogMarketLimit'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Markets'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/MetricNotFound'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog/market-candles:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market candles
      description: Returns a list of markets with candles support along with time ranges of available data per candle duration.
      operationId: getCatalogMarketCandles
      x-code-samples:
        $ref: "./samples/generated/catalog_market_candles.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogMarketId'
        - $ref: '#/components/parameters/Exchange'
        - $ref: '#/components/parameters/MarketType'
        - $ref: '#/components/parameters/MarketBase'
        - $ref: '#/components/parameters/MarketQuoteParameter'
        - $ref: '#/components/parameters/MarketAsset'
        - $ref: '#/components/parameters/MarketSymbol'
        - $ref: '#/components/parameters/CatalogMarketFormat'
        - $ref: '#/components/parameters/CatalogMarketLimit'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/CatalogMarketCandles'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/MetricNotFound'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog/market-metrics:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available market metrics
      description: Returns a list of markets with metrics support along with time ranges of available data per metric.
      operationId: getCatalogMarketMetrics
      x-code-samples:
        $ref: "./samples/generated/catalog_market_metrics.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogMarketId'
        - $ref: '#/components/parameters/Exchange'
        - $ref: '#/components/parameters/MarketType'
        - $ref: '#/components/parameters/MarketBase'
        - $ref: '#/components/parameters/MarketQuoteParameter'
        - $ref: '#/components/parameters/MarketAsset'
        - $ref: '#/components/parameters/MarketSymbol'
        - $ref: '#/components/parameters/CatalogMarketFormat'
        - $ref: '#/components/parameters/CatalogMarketLimit'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/CatalogMarketMetrics'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/MetricNotFound'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog/indexes:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Available indexes
      description: Returns a list of available indexes along with time ranges of available data.
      operationId: getCatalogIndexes
      x-code-samples:
        $ref: "./samples/generated/catalog_indexes.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogIndexId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Indexes'
        400:
          $ref: '#/components/responses/IndexNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog/alerts:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Available asset alerts
      description: Returns a list of available asset alerts along with their descriptions, thresholds and constituents.
      operationId: getCatalogAssetAlertRules
      x-code-samples:
        $ref: "./samples/generated/catalog_alerts.json"
      tags:
        - Catalog
      parameters:
        - $ref: '#/components/parameters/CatalogAssetId'
        - $ref: '#/components/parameters/CatalogAssetAlertId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/AssetAlertRules'
        404:
          $ref: '#/components/responses/AssetAlertNotFound'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: [ ]

  /catalog-all/assets:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Supported assets
      description: Returns a list of all supported assets along with information for them like metrics, markets, exchanges and time ranges of available data.
      operationId: getCatalogAllAssets
      x-code-samples:
        $ref: "./samples/generated/catalog_all_assets.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogAssetId'
        - $ref: '#/components/parameters/CatalogAssetIncludeFields'
        - $ref: '#/components/parameters/CatalogAssetExcludeFields'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Assets'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog-all/metrics:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Supported metrics
      description: Returns a list of all supported metrics along with information for them like
        description, category and assets for which a metric is available.
      operationId: getCatalogAllMetrics
      x-code-samples:
        $ref: "./samples/generated/catalog_all_metrics.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogMetric'
        - $ref: '#/components/parameters/Reviewable'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Metrics'
        400:
          $ref: '#/components/responses/MetricNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog-all/exchanges:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Supported exchanges
      description: Returns a list of all supported exchanges along with available markets for them.
      operationId: getCatalogAllExchanges
      x-code-samples:
        $ref: "./samples/generated/catalog_all_exchanges.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogExchangeId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Exchanges'
        400:
          $ref: '#/components/responses/ExchangeNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
      security:
        - api_key: []

  /catalog-all/exchange-assets:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Supported exchange-asset pairs
      description: Returns a list of all supported exchange asset pairs along with information for them like metrics and time ranges of available data.
      operationId: getCatalogAllExchangeAssets
      x-code-samples:
        $ref: "./samples/generated/catalog_all_exchange_assets.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogExchangeAssetId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/ExchangeAssets'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog-all/pairs:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Supported asset pairs
      description: Returns a list of all supported asset pairs along with information for them like metrics and time ranges of available data.
      operationId: getCatalogAllAssetPairs
      x-code-samples:
        $ref: "./samples/generated/catalog_all_pairs.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogPairId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Pairs'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog-all/institutions:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Supported institutions
      description: Returns a list of all support institutions along with information for them like metrics and time ranges of available data.
      operationId: getCatalogAllInstitutions
      x-code-samples:
        $ref: "./samples/generated/catalog_all_institutions.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogInstitutionId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Institutions'
        400:
          $ref: '#/components/responses/InstitutionNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
      security:
        - api_key: []

  /catalog-all/markets:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Supported markets
      description: Returns a list of all supported markets along with time ranges of available data.
      operationId: getCatalogAllMarkets
      x-code-samples:
        $ref: "./samples/generated/catalog_all_markets.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogMarketId'
        - $ref: '#/components/parameters/Exchange'
        - $ref: '#/components/parameters/MarketType'
        - $ref: '#/components/parameters/MarketBase'
        - $ref: '#/components/parameters/MarketQuoteParameter'
        - $ref: '#/components/parameters/MarketAsset'
        - $ref: '#/components/parameters/MarketSymbol'
        - $ref: '#/components/parameters/CatalogMarketIncludeFields'
        - $ref: '#/components/parameters/CatalogMarketExcludeFields'
        - $ref: '#/components/parameters/CatalogMarketFormat'
        - $ref: '#/components/parameters/CatalogMarketLimit'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Markets'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog-all/market-candles:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Supported market candles
      description: Returns a list of all markets with candles support along with time ranges of available data per candle duration.
      operationId: getCatalogAllMarketCandles
      x-code-samples:
        $ref: "./samples/generated/catalog_all_market_candles.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogMarketId'
        - $ref: '#/components/parameters/Exchange'
        - $ref: '#/components/parameters/MarketType'
        - $ref: '#/components/parameters/MarketBase'
        - $ref: '#/components/parameters/MarketQuoteParameter'
        - $ref: '#/components/parameters/MarketAsset'
        - $ref: '#/components/parameters/MarketSymbol'
        - $ref: '#/components/parameters/CatalogMarketFormat'
        - $ref: '#/components/parameters/CatalogMarketLimit'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/CatalogMarketCandles'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog-all/market-metrics:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Supported market metrics
      description: Returns a list of all markets with market metrics support along with time ranges of available data per metric.
      operationId: getCatalogAllMarketMetrics
      x-code-samples:
        $ref: "./samples/generated/catalog_market_metrics.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogMarketId'
        - $ref: '#/components/parameters/Exchange'
        - $ref: '#/components/parameters/MarketType'
        - $ref: '#/components/parameters/MarketBase'
        - $ref: '#/components/parameters/MarketQuoteParameter'
        - $ref: '#/components/parameters/MarketAsset'
        - $ref: '#/components/parameters/MarketSymbol'
        - $ref: '#/components/parameters/CatalogMarketFormat'
        - $ref: '#/components/parameters/CatalogMarketLimit'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/CatalogMarketMetrics'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /catalog-all/indexes:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Supported indexes
      description: Returns a list of all supported indexes along with time ranges of available data.
      operationId: getCatalogAllIndexes
      x-code-samples:
        $ref: "./samples/generated/catalog_all_indexes.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogIndexId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/Indexes'
        400:
          $ref: '#/components/responses/IndexNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
      security:
        - api_key: []

  /catalog-all/alerts:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Supported asset alerts
      description: Returns a list of all supported asset alerts along with their descriptions, thresholds and constituents.
      operationId: getCatalogAllAssetAlertRules
      x-code-samples:
        $ref: "./samples/generated/catalog_all_alerts.json"
      tags:
        - Full catalog
      parameters:
        - $ref: '#/components/parameters/CatalogAssetId'
        - $ref: '#/components/parameters/CatalogAssetAlertId'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/AssetAlertRules'
        404:
          $ref: '#/components/responses/AssetAlertNotFound'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: [ ]

  /timeseries/asset-metrics:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get: 
      summary: Asset metrics
      description: >-
        Returns requested metrics for specified assets.<br/><br/>
        Results for block by block metrics (`1b` frequency) are ordered by tuple `(asset, height, block_hash)`, all other metrics are ordered by tuple `(asset, time)`. You can change the sorting using `sort` query parameter.<br/><br/>
        Supported output formats are `json` (default) and `csv`, use `format` query parameter to override it.<br/>
        To fetch the next page of results use `next_page_url` JSON response field or `x-next-page-url` CSV HTTP header if present.<br/><br/>
        If multiple metrics are requested in the same time the strict policy for partially available metrics among requested ones is applied:
        <ul>
          <li>missing metric name in the JSON response means that the metric is "not a supported metric" for the asset and frequency while some other requested metrics are supported.</li>
          <li>`null` value of the metric means "no data in the database" while some other requested metrics have data.</li>
        </ul>
      operationId: getTimeseriesAssetMetrics
      x-code-samples:
        $ref: "./samples/generated/timeseries_asset_metrics.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/AssetId'
        - $ref: '#/components/parameters/AssetMetrics'
        - $ref: '#/components/parameters/AssetMetricsFrequency'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartHeight'
        - $ref: '#/components/parameters/EndHeight'
        - $ref: '#/components/parameters/StartHash'
        - $ref: '#/components/parameters/EndHash'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/MinConfirmations'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/LimitPerAsset'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/Format'
        - $ref: '#/components/parameters/NullAsZero'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/AssetMetrics'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/exchange-metrics:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Exchange metrics
      description: >-
        Returns metrics for specified exchanges.<br/>
        Results are ordered by tuple `(exchange, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesExchangeMetrics
      x-code-samples:
        $ref: "./samples/generated/timeseries_exchange_metrics.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/Exchanges'
        - $ref: '#/components/parameters/ExchangeMetricsParam'
        - $ref: '#/components/parameters/ExchangeMetricsFrequency'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/ExchangeSort'
        - $ref: '#/components/parameters/LimitPerExchange'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/Format'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/ExchangeMetrics'
        400:
          $ref: '#/components/responses/ExchangeNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/exchange-asset-metrics:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Exchange-Asset metrics
      description: >-
        Returns metrics for specified exchange-asset.<br/>
        Results are ordered by tuple `(exchange_asset, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesExchangeAssetMetrics
      x-code-samples:
        $ref: "./samples/generated/timeseries_exchange_asset_metrics.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/ExchangeAssets'
        - $ref: '#/components/parameters/ExchangeAssetMetricsParam'
        - $ref: '#/components/parameters/ExchangeAssetMetricsFrequency'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/ExchangeAssetSort'
        - $ref: '#/components/parameters/LimitPerExchangeAsset'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/Format'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/ExchangeAssetMetrics'
        400:
          $ref: '#/components/responses/ExchangeAssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-metrics:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market metrics
      description: >-
        Returns metrics for specified markets.<br/>
        Results are ordered by tuple `(market, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesMarketMetrics
      x-code-samples:
        $ref: "./samples/generated/timeseries_merket_metrics.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/Markets'
        - $ref: '#/components/parameters/MarketMetricsParam'
        - $ref: '#/components/parameters/MarketMetricsFrequency'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/MarketMetricsSort'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/Format'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MarketMetrics'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/pair-metrics:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Pair metrics
      description: >-
        Returns metrics for specified asset pairs.<br/>
        Results are ordered by tuple `(pair, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesPairMetrics
      x-code-samples:
        $ref: "./samples/generated/timeseries_pair_metrics.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/Pair'
        - $ref: '#/components/parameters/PairMetricsParam'
        - $ref: '#/components/parameters/PairMetricsFrequency'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/PairSort'
        - $ref: '#/components/parameters/LimitPerPair'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/Format'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/PairMetrics'
        400:
          $ref: '#/components/responses/PairNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/institution-metrics:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Institution metrics
      description: >-
        Returns metrics for specified institutions.<br/>
        Results are ordered by tuple `(institution, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesInstitutionMetrics
      x-code-samples:
        $ref: "./samples/generated/timeseries_institution_metrics.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/Institution'
        - $ref: '#/components/parameters/InstitutionMetricsParam'
        - $ref: '#/components/parameters/InstitutionMetricsFrequency'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/InstitutionSort'
        - $ref: '#/components/parameters/LimitPerInstitution'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/Format'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/InstitutionMetrics'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-trades:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market trades
      description: >-
        Returns trades for specified markets.<br/>
        Results are ordered by tuple `(market, time, coin_metrics_id)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesMarketTrades
      x-code-samples:
        $ref: "./samples/generated/timeseries_market_trades.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
        - $ref: '#/components/parameters/TradeMinConfirmations'
      responses:
        200:
          $ref: '#/components/responses/MarketTrades'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-openinterest:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market open interest
      description: >-
        Returns open interest for specified futures markets.<br/>
        Results are ordered by tuple `(market, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
        Keep in mind that spot markets are not supported by this endpoint.
      operationId: getTimeseriesMarketOpenIntereset
      x-code-samples:
        $ref: "./samples/generated/timeseries_market_openinterest.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MarketOpenInterest'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-liquidations:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market liquidations
      description: >-
        Returns liquidations for specified futures markets.<br/>
        Results are ordered by tuple `(market, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
        Keep in mind that spot markets are not supported by this endpoint.
      operationId: getTimeseriesMarketLiquidations
      x-code-samples:
        $ref: "./samples/generated/timeseries_market_liquidations.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MarketLiquidations'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-funding-rates:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market funding rates
      description: >-
        Returns funding rates for specified futures markets.<br/>
        Results are ordered by tuple `(market, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
        Keep in mind that spot markets are not supported by this endpoint.
      operationId: getTimeseriesMarketFundingRates
      x-code-samples:
        $ref: "./samples/generated/timeseries_market_funding_rates.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MarketFundingRates'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-orderbooks:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market orderbooks
      description: >-
        Returns orderbooks for specified markets.<br/>
        Results are ordered by tuple `(market, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesMarketOrderbooks
      x-code-samples:
        $ref: "./samples/generated/timeseries_market_orderbooks.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/BookDepth'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MarketOrderBooks'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-quotes:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market quotes
      description: >-
        Returns quotes for specified markets.<br/>
        Results are ordered by tuple `(market, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesMarketQuotes
      x-code-samples:
        $ref: "./samples/generated/timeseries_market_quotes.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MarketQuotes'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-candles:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market candles
      description: >-
        Returns candles for specified markets.<br/>
        Results are ordered by tuple `(market, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.<br/>
        Coin Metrics derives candles directly from trades. Candles are only generated if there are trades in the underlying interval. Therefore, gaps in candles data through time are normal and to be expected. To construct gapless candles, the client should fill forward candles through time, setting the open, high, low, and close to the close of the previous candle, setting the vwap to the vwap of the previous candle, and setting the volume to zero.
      operationId: getTimeseriesMarketCandles
      x-code-samples:
        $ref: "./samples/generated/timeseries_market_candles.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/CandleFrequency'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MarketCandles'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-contract-prices:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market contract prices
      description: >-
        Returns contract prices for specified markets. This includes index price and mark price that are used by the exchange for settlement and risk management purposes.<br/>
        Results are ordered by tuple `(market, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.<br/>
      operationId: getTimeseriesMarketContractPrices
      x-code-samples:
        $ref: "./samples/generated/timeseries_market_contract_prices.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MarketContractPrices'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-implied-volatility:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market implied volatility
      description: >-
        Returns implied volatility for specified markets.<br/>
        Results are ordered by tuple `(market, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.<br/>
        Implied volatility is calculated using an options pricing model. It represents the market's expectation of future volatility and is the value, when input to an options pricing model, that makes the actual options price equal to its theoretical price.
      operationId: getTimeseriesMarketImpliedVolatility
      x-code-samples:
        $ref: "./samples/generated/timeseries_market_implied_volatility.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MarketImpliedVolatility'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/market-greeks:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Market greeks
      description: >-
        Returns greeks for option markets.<br/>
        Results are ordered by tuple `(market, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.<br/>
        Option greeks represent the sensitivity of the price of an options contract with respect to changes in its underlying parameters. Greeks are used in risk management and hedging so that market participants can achieve their desired exposure.
      operationId: getTimeseriesMarketGreeks
      x-code-samples:
        $ref: "./samples/generated/timeseries_market_greeks.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerMarket'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MarketGreeks'
        400:
          $ref: '#/components/responses/MarketNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/index-levels:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Index levels
      description: >-
        Returns levels for specified indexes.<br/>
        Results are ordered by tuple `(index, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesIndexLevels
      x-code-samples:
        $ref: "./samples/generated/timeseries_index_levels.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/IndexId'
        - $ref: '#/components/parameters/IndexFrequency'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/LimitPerIndex'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/IndexLevels'
        400:
          $ref: '#/components/responses/IndexNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
      security:
        - api_key: []

  /timeseries/index-constituents:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Index constituents
      description: >-
        Returns constituents and weights for specified indexes.<br/>
        Results are ordered by tuple `(index, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesIndexConstituents
      x-code-samples:
        $ref: "./samples/generated/timeseries_index_constituents.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/IndexId'
        - $ref: '#/components/parameters/IndexConstituentsFrequency'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/IndexConstituents'
        400:
          $ref: '#/components/responses/IndexNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
      security:
        - api_key: []

  /timeseries/mining-pool-tips-summary:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Mining pool tips summary
      description: >-
        Returns mining pool tips summaries for the specified assets.<br/>
        Lists last tips that we saw in all mining pools that were active during the past hour.<br/>
        A new summary is created when we detect any change in current tips across all mining pools.<br/>
        This endpoint is useful for those who want to track forks and reorgs by visualizing the distribution of currently active tips between mining pools.<br/>
        Results are ordered by tuple `(asset, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getTimeseriesMiningPoolTipsSummary
      x-code-samples:
        $ref: "./samples/generated/timeseries_mining_pool_tips_summary.json"
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/AssetId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MiningPoolTipsSummary'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/asset-chains:
    servers:
      - url: https://api.coinmetrics.io/v4
      - url: https://community-api.coinmetrics.io/v4
    get:
      summary: Asset chains
      description: >-
        Returns the chains of blocks for the specified assets.<br/>
        Lists all the chains that were active in the blockchain during the time that's enough to produce the number of blocks considered as an industry-standard number of confirmations.<br/>
        A new entry is created when we detect any new block anywhere in the chain.<br/>
        This endpoint is useful for those who want to quickly detect reorganizations or visualize currently active chains.<br/>
        If there are two or more active chains, then the response will contain the chain fragments starting from their common ancestor block. Otherwise, if there is a single active chain - only the blockchain tip is returned.<br/>
        The reorganization depth is measured as a number of consecutive blocks that were disconnected from the common ancestor block.<br/>
        Results are ordered by tuple `(asset, time)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getAssetChains
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/AssetId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/AssetChains'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: [ ]

  /timeseries/mempool-feerates:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Mempool feerates
      description: >-
        Returns mempool feerates for the specified assets.<br/>
        This endpoint is useful for those who wants to explore the history of the feerate distribution and potentially select the time period with the lowest commissions.<br/>
        Results are ordered by `(asset, time)`.<br/>
        To fetch the next page of results use the `next_page_url` JSON response field.
      operationId: getMempoolFeerates
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/AssetId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/MempoolFeeratesPageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/MempoolFeerates'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries/asset-alerts:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Asset alerts (unstable)
      description: >-
        Returns asset alerts for the specified assets.<br/>
        This endpoint is useful for those who wants to track the breaches in the particular asset's Key Risk Indicator thresholds.<br/>
        An asset alert is issued once an alerting metric value either breaches it's Key Risk Indicator threshold or returns back to normal for a predefined period of time.<br/>
        Results are ordered by `(asset, time)`.<br/>
        To fetch the next page of results use the `next_page_url` JSON response field.
      operationId: getAssetAlerts
      tags:
        - Timeseries
      parameters:
        - $ref: '#/components/parameters/AssetId'
        - $ref: '#/components/parameters/AssetAlertId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/AssetAlerts'
        400:
          $ref: '#/components/responses/AssetNotFound'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: [ ]

  /timeseries-stream/asset-metrics:
    get:
      servers:
        - url: wss://api.coinmetrics.io/v4
      summary: Asset metrics
      description: >-
        Returns a WebSocket stream of metrics for specified assets.<br/>
        Endpoint supports only block by block (`1b` frequency) and per second (`1s` frequency) metrics.<br/>
        Different sets of metrics may come in different messages.<br/>
        If you are falling behind (slow client) you will get `warning` message first, then `error` message and disconnection will happen.
      operationId: getTimeseriesStreamAssetMetrics
      x-code-samples:
        $ref: "./samples/generated/timeseries_stream_asset_metrics.json"
      tags:
        - Timeseries stream
      parameters:
        - $ref: '#/components/parameters/AssetId'
        - $ref: '#/components/parameters/AssetMetrics'
        - $ref: '#/components/parameters/StreamAssetMetricsFrequency'
        - $ref: '#/components/parameters/Backfill'
        - $ref: '#/components/parameters/Pretty'
      responses:
        default:
          $ref: '#/components/responses/StreamingAssetMetrics'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries-stream/market-trades:
    get:
      servers:
        - url: wss://api.coinmetrics.io/v4
      summary: Market trades
      description: >-
        Returns a WebSocket stream of trades for specified markets.<br/>
        If you are falling behind (slow client) you will get `warning` message first, then `error` message and disconnection will happen.
      operationId: getTimeseriesStreamMarketTrades
      x-code-samples:
        $ref: "./samples/generated/timeseries_stream_market_trades.json"
      tags:
        - Timeseries stream
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/Backfill'
        - $ref: '#/components/parameters/Pretty'
      responses:
        default:
          $ref: '#/components/responses/StreamingMarketTrades'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /timeseries-stream/market-orderbooks:
    get:
      servers:
        - url: wss://api.coinmetrics.io/v4
      summary: Market orderbooks
      description: >-
        Returns a WebSocket stream of orderbooks for specified markets.<br/>
        Orderbooks are delivered using a sequence of `snapshot` and `update` messages.<br/>
        Zero value of the `size` response field for `asks` or `bids` means negative `update`.<br/>
        If you are falling behind (slow client) you will get `warning` message first, then `error` message and disconnection will happen.
      operationId: getTimeseriesStreamMarketOrderbooks
      x-code-samples:
        $ref: "./samples/generated/timeseries_stream_market_orderbooks.json"
      tags:
        - Timeseries stream
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/Backfill'
        - $ref: '#/components/parameters/Pretty'
      responses:
        default:
          $ref: '#/components/responses/StreamingMarketOrderbooks'
      security:
        - api_key: []

  /timeseries-stream/market-quotes:
    get:
      servers:
        - url: wss://api.coinmetrics.io/v4
      summary: Market quotes
      description: >-
        Returns a stream of quotes for specified markets.<br/>
        If you are falling behind (slow client) you will get `warning` message first, then `error` message and disconnection will happen.
      operationId: getTimeseriesStreamMarketQuotes
      x-code-samples:
        $ref: "./samples/generated/timeseries_stream_market_quotes.json"
      tags:
        - Timeseries stream
      parameters:
        - $ref: '#/components/parameters/MarketId'
        - $ref: '#/components/parameters/Backfill'
        - $ref: '#/components/parameters/Pretty'
      responses:
        default:
          $ref: '#/components/responses/StreamingMarketQuotes'
        414:
          $ref: '#/components/responses/UriTooLong'
      security:
        - api_key: []

  /blockchain/{asset}/blocks:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: List of blocks
      description: >-
        Returns a list of blockchain blocks metadata.<br/>
        Results are ordered by tuple `(height, block_hash)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getBlockchainListOfBlocks
      tags:
        - List of blockchain entities
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainBlockHashes'
        - $ref: '#/components/parameters/BlockchainBlockHeights'
        - $ref: '#/components/parameters/BlockchainStartTime'
        - $ref: '#/components/parameters/BlockchainEndTime'
        - $ref: '#/components/parameters/BlockchainStartHeight'
        - $ref: '#/components/parameters/BlockchainEndHeight'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/BlockchainBlocks'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain/{asset}/accounts:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: List of accounts
      description: >-
        Returns a list of blockchain accounts with their balances.<br/>
        Results are ordered by tuple `(creation_chain_sequence_number, account)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getBlockchainListOfAccounts
      tags:
        - List of blockchain entities
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainAccounts'
        - $ref: '#/components/parameters/BlockchainStartTime'
        - $ref: '#/components/parameters/BlockchainEndTime'
        - $ref: '#/components/parameters/BlockchainStartHeight'
        - $ref: '#/components/parameters/BlockchainEndHeight'
        - $ref: '#/components/parameters/BlockchainStartChainSequenceNumber'
        - $ref: '#/components/parameters/BlockchainEndChainSequenceNumber'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/BlockchainAccounts'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain/{asset}/transactions:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: List of transactions
      description: >-
        Returns a list of blockchain transactions metadata.<br/>
        Results are ordered by tuple `(min_chain_sequence_number, transaction_hash)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getBlockchainListOfTransactions
      tags:
        - List of blockchain entities
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainTransactions'
        - $ref: '#/components/parameters/BlockchainBlockHashes'
        - $ref: '#/components/parameters/BlockchainStartTime'
        - $ref: '#/components/parameters/BlockchainEndTime'
        - $ref: '#/components/parameters/BlockchainStartHeight'
        - $ref: '#/components/parameters/BlockchainEndHeight'
#        - $ref: '#/components/parameters/BlockchainStartChainSequenceNumber'
#        - $ref: '#/components/parameters/BlockchainEndChainSequenceNumber'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/BlockchainTransactions'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain/{asset}/balance-updates:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: List of balance updates
      description: >-
        Returns a list of blockchain accounts balance updates.<br/>
        Results are ordered by tuple `(chain_sequence_number, block_hash)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getBlockchainListOfBalanceUpdates
      tags:
        - List of blockchain entities
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainAccounts'
        - $ref: '#/components/parameters/BlockchainTransactions'
        - $ref: '#/components/parameters/BlockchainBlockHashes'
        - $ref: '#/components/parameters/BlockchainStartTime'
        - $ref: '#/components/parameters/BlockchainEndTime'
        - $ref: '#/components/parameters/BlockchainStartHeight'
        - $ref: '#/components/parameters/BlockchainEndHeight'
        - $ref: '#/components/parameters/BlockchainStartChainSequenceNumber'
        - $ref: '#/components/parameters/BlockchainEndChainSequenceNumber'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/BlockchainBalanceUpdates'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain/{asset}/blocks/{block_hash}:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Full block
      description: >-
        Returns a full blockchain block with all transactions and balance updates.
      operationId: getBlockchainFullBlock
      tags:
        - Full blockchain entities
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainBlockHash'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/BlockchainFullBlock'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain/{asset}/transactions/{transaction_hash}:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Full transaction
      description: >-
        Returns a full blockchain transaction with all balance updates.
      operationId: getBlockchainFullTransaction
      tags:
        - Full blockchain entities
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainTransactionHash'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/BlockchainFullTransaction'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain/{asset}/blocks/{block_hash}/transactions/{transaction_hash}:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Full transaction for block
      description: >-
        Returns a full blockchain transaction with all balance updates for a specific block.
      operationId: getBlockchainFullTransactionForBlock
      tags:
        - Full blockchain entities
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainBlockHash'
        - $ref: '#/components/parameters/BlockchainTransactionHash'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/BlockchainFullTransaction'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain/{asset}/transaction-tracker:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Transaction tracker
      description: >-
        Returns status updates for the specified or all transactions.<br/>
        This endpoint can be helpful to track transaction settlement.<br/>
        The transaction tracker keeps the history of the transaction updates for one month since the last update.
      operationId: getTransactionTracker
      tags:
        - Chain Monitor tools
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/TxTrackerTransactions'
        - $ref: '#/components/parameters/ReplacementsForTransactions'
        - $ref: '#/components/parameters/OnlyReplacementTransactions'
        - $ref: '#/components/parameters/BlockchainStartTime'
        - $ref: '#/components/parameters/BlockchainEndTime'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/TxTracker'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain-v2/{asset}/blocks:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: List of blocks
      description: >-
        Returns a list of blockchain blocks metadata.<br/>
        Results are ordered by tuple `(height, block_hash)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getBlockchainV2ListOfBlocks
      tags:
        - List of blockchain entities v2
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainBlockHashes'
        - $ref: '#/components/parameters/BlockchainBlockHeights'
        - $ref: '#/components/parameters/BlockchainStartTime'
        - $ref: '#/components/parameters/BlockchainEndTime'
        - $ref: '#/components/parameters/BlockchainStartHeight'
        - $ref: '#/components/parameters/BlockchainEndHeight'
        - $ref: '#/components/parameters/BlockchainChainType'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/BlockchainBlocksV2'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain-v2/{asset}/accounts:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: List of accounts
      description: >-
        Returns a list of blockchain accounts with their balances.<br/>
        Results are ordered by tuple `(creation_chain_sequence_number, account)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getBlockchainV2ListOfAccounts
      tags:
        - List of blockchain entities v2
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainAccounts'
        - $ref: '#/components/parameters/BlockchainStartTime'
        - $ref: '#/components/parameters/BlockchainEndTime'
        - $ref: '#/components/parameters/BlockchainStartHeight'
        - $ref: '#/components/parameters/BlockchainEndHeight'
        - $ref: '#/components/parameters/BlockchainStartChainSequenceNumber'
        - $ref: '#/components/parameters/BlockchainEndChainSequenceNumber'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/BlockchainAccountsV2'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain-v2/{asset}/sub-accounts:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: List of sub-accounts
      description: >-
        Returns a list of blockchain sub-accounts.<br/>
        Results are ordered by tuple `(creation_chain_sequence_number, account)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getBlockchainV2ListOfSubAccounts
      tags:
        - List of blockchain entities v2
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainAccounts'
        - $ref: '#/components/parameters/BlockchainStartTime'
        - $ref: '#/components/parameters/BlockchainEndTime'
        - $ref: '#/components/parameters/BlockchainStartHeight'
        - $ref: '#/components/parameters/BlockchainEndHeight'
        - $ref: '#/components/parameters/BlockchainStartChainSequenceNumber'
        - $ref: '#/components/parameters/BlockchainEndChainSequenceNumber'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/BlockchainSubAccountsV2'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain-v2/{asset}/transactions:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: List of transactions
      description: >-
        Returns a list of blockchain transactions metadata.<br/>
        Results are ordered by tuple `(min_chain_sequence_number, txid)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getBlockchainV2ListOfTransactions
      tags:
        - List of blockchain entities v2
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainTransactionIds'
        - $ref: '#/components/parameters/BlockchainBlockHashes'
        - $ref: '#/components/parameters/BlockchainStartTime'
        - $ref: '#/components/parameters/BlockchainEndTime'
        - $ref: '#/components/parameters/BlockchainStartHeight'
        - $ref: '#/components/parameters/BlockchainEndHeight'
        - $ref: '#/components/parameters/BlockchainChainType'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/BlockchainTransactionsV2'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain-v2/{asset}/balance-updates:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: List of balance updates
      description: >-
        Returns a list of blockchain accounts balance updates.<br/>
        Results are ordered by tuple `(chain_sequence_number, block_hash)`.<br/>
        To fetch the next page of results use `next_page_url` JSON response field.
      operationId: getBlockchainV2ListOfBalanceUpdates
      tags:
        - List of blockchain entities v2
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainAccounts'
        - $ref: '#/components/parameters/BlockchainSubAccounts'
        - $ref: '#/components/parameters/BlockchainTransactionIds'
        - $ref: '#/components/parameters/BlockchainBlockHashes'
        - $ref: '#/components/parameters/BlockchainStartTime'
        - $ref: '#/components/parameters/BlockchainEndTime'
        - $ref: '#/components/parameters/BlockchainStartHeight'
        - $ref: '#/components/parameters/BlockchainEndHeight'
        - $ref: '#/components/parameters/BlockchainStartChainSequenceNumber'
        - $ref: '#/components/parameters/BlockchainEndChainSequenceNumber'
        - $ref: '#/components/parameters/BlockchainIncludeSubAccounts'
        - $ref: '#/components/parameters/BlockchainChainType'
        - $ref: '#/components/parameters/StartInclusive'
        - $ref: '#/components/parameters/EndInclusive'
        - $ref: '#/components/parameters/Timezone'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PagingFrom'
        - $ref: '#/components/parameters/Pretty'
        - $ref: '#/components/parameters/NextPageToken'
      responses:
        200:
          $ref: '#/components/responses/BlockchainBalanceUpdatesV2'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain-v2/{asset}/blocks/{block_hash}:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Full block
      description: >-
        Returns a full blockchain block with all transactions and balance updates.
      operationId: getBlockchainV2FullBlock
      tags:
        - Full blockchain entities v2
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainBlockHash'
        - $ref: '#/components/parameters/BlockchainIncludeSubAccounts'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/BlockchainFullBlockV2'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain-v2/{asset}/transactions/{txid}:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Full transaction
      description: >-
        Returns a full blockchain transaction with all balance updates.
      operationId: getBlockchainV2FullTransaction
      tags:
        - Full blockchain entities v2
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainTransactionId'
        - $ref: '#/components/parameters/BlockchainIncludeSubAccounts'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/BlockchainFullTransactionV2'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

  /blockchain-v2/{asset}/blocks/{block_hash}/transactions/{txid}:
    servers:
      - url: https://api.coinmetrics.io/v4
    get:
      summary: Full transaction for block
      description: >-
        Returns a full blockchain transaction with all balance updates for a specific block.
      operationId: getBlockchainV2FullTransactionForBlock
      tags:
        - Full blockchain entities v2
      parameters:
        - $ref: '#/components/parameters/BlockchainAsset'
        - $ref: '#/components/parameters/BlockchainBlockHash'
        - $ref: '#/components/parameters/BlockchainTransactionId'
        - $ref: '#/components/parameters/BlockchainIncludeSubAccounts'
        - $ref: '#/components/parameters/Pretty'
      responses:
        200:
          $ref: '#/components/responses/BlockchainFullTransactionV2'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/BlockchainForbidden'
      security:
        - api_key: []

components:
  parameters:

    Pretty:
      description: Human-readable formatting of JSON responses.
      in: query
      name: pretty
      schema:
        type: boolean
        default: false

    Format:
      description: Format of the response.
      in: query
      name: format
      schema:
        enum:
          - json
          - csv
        type: string
        default: json

    NullAsZero:
      description: Nulls are represented as zeros in the response.
      in: query
      name: null_as_zero
      schema:
        type: boolean
        default: false

    MarketType:
      description: Type of markets.
      in: query
      name: type
      schema:
        enum:
          - spot
          - future
          - option
        type: string

    MarketBase:
      description: Base asset of markets.
      in: query
      name: base
      schema:
        type: string

    MarketQuoteParameter:
      description: Quote asset of markets.
      in: query
      name: quote
      schema:
        type: string

    MarketAsset:
      description: Any asset of markets.
      in: query
      name: asset
      schema:
        type: string

    MarketSymbol:
      description: Symbol of derivative markets, full instrument name.
      in: query
      name: symbol
      schema:
        type: string

    AssetId:
      description: >-
        Comma separated list of assets.<br/>
        Use the [/catalog-all/assets](#operation/getCatalogAllAssets) endpoint for the full list of supported assets.
      in: query
      name: assets
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false

    AssetAlertId:
      description: >-
        Comma separated list of asset alert names.<br/>
        Use the [/catalog-all/alerts](#operation/getCatalogAllAssetAlerts) endpoint for the full list of supported asset alerts.
      in: query
      name: alerts
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogAssetId:
      description: Comma separated list of assets. By default all assets are returned.
      in: query
      name: assets
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogAssetIncludeFields:
      description: Comma separated list of fields to include in response. Supported values are `metrics`, `markets`, `exchanges`. Included by default if omitted.
      in: query
      name: include
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogAssetExcludeFields:
      description: Comma separated list of fields to exclude from response. Supported values are `metrics`, `markets`, `exchanges`. Included by default if omitted.
      in: query
      name: exclude
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogMarketIncludeFields:
      description: Comma separated list of fields to include in response. Supported values are `trades`, `orderbooks`, `quotes`, `candles`, `funding_rates`, `openinterest`, `liquidations`. Included by default if omitted.
      in: query
      name: include
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogMarketExcludeFields:
      description: Comma separated list of fields to exclude from response. Supported values are `trades`, `orderbooks`, `quotes`, `candles`, `funding_rates`, `openinterest`, `liquidations`. Included by default if omitted.
      in: query
      name: exclude
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogMarketFormat:
      description: Format of the response. Supported values are `json`, `json_stream`.
      in: query
      name: format
      schema:
        type: string
        default: json

    CatalogMarketLimit:
      description: Limit of response items. `none` means no limit.
      in: query
      name: limit
      schema:
        type: string
        default: none

    CatalogAssetAlertId:
      description: Comma separated list of asset alert names. By default all asset alerts are returned.
      in: query
      name: alerts
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogPairId:
      description: Comma separated list of asset pairs. By default, all asset pairs are returned.
      in: query
      name: pairs
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogExchangeAssetId:
      description: Comma separated list of exchange-assets. By default, all exchange-assets pairs are returned.
      in: query
      name: exchange_assets
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogInstitutionId:
      description: Comma separated list of institutions. By default, all institutions are returned.
      in: query
      name: institutions
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogExchangeId:
      description: Comma separated list of exchanges. By default all exchanges are returned.
      in: query
      name: exchanges
      schema:
        type: array
        items:
          type: string
      explode: false

    MarketId:
      description: >-
        Comma separated list of markets or market patterns like `exchange-*` or `exchange-*-spot` or `*USDT-future`.<br/>
        Use the [/catalog-all/markets](#operation/getCatalogAllMarkets) endpoint for the full list of supported markets.
      in: query
      name: markets
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false

    Pair:
      description: >-
        Comma separated list of asset pairs.<br/>
        Use the [/catalog-all/pairs](#operation/getCatalogAllAssetPairs) endpoint for the full list of supported asset pairs.
      in: query
      name: pairs
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false

    Institution:
      description: >-
        Comma separated list of institutions.<br/>
        Use the [/catalog-all/institutions](#operation/getCatalogAllInstitutions) endpoint for the full list of supported institutions.
      in: query
      name: institutions
      required: true
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogMarketId:
      description: Comma separated list of markets. By default all markets are returned.
      in: query
      name: markets
      schema:
        type: array
        items:
          type: string
      explode: false

    CatalogMetric:
      description: Comma separated list of metrics. By default all metrics are returned.
      in: query
      name: metrics
      schema:
        type: array
        items:
          type: string
      explode: false

    Reviewable:
[...]
